body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color: #222;
    transition: 0.3s;
}

/* DARK MODE */
body.dark-mode {
    background: #0d1117;
    color: #e6edf3;
}

body.dark-mode .navbar {
    background: #161b22 !important;
    border-bottom: 1px solid #333;
}

body.dark-mode .quiz-box {
    background: #1c2128;
    border: 1px solid #30363d;
}

body.dark-mode .choice-option {
    background: #22272e;
    border-color: #30363d;
}

body.dark-mode .btn-next {
    background: #238636;
}


/* NAVBAR */
.navbar {
    background: #ffffff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

.dark-mode .nav-links a {
    color: #e6edf3;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.theme-toggle {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
}

/* SECTION */
.section {
    padding: 60px;
    text-align: center;
}

/* QUIZ */
.quiz-header {
    margin-top: 20px;
}

.quiz-box {
    margin: 30px auto;
    width: 60%;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.title {
    margin-bottom: 10px;
}

/* BUTTONS */
.btn-primary {
    background: #007bff;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-next {
    margin-top: 20px;
    display: none;
    background: #00b341;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* PILIHAN GANDA */
.choice-option {
    background: #f1f4ff;
    padding: 12px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #cdd7ff;
    transition: 0.2s;
}

.choice-option:hover {
    background: #dce6ff;
}

.choice-option input {
    margin-right: 10px;
}

.quiz-stats {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
}

/* DARK MODE COLORS */
body.dark-mode select,
body.dark-mode .btn-primary {
    color: white;
}
